<div class="row">
	<div class="col-lg-12">
		<div class="hpanel">
			<div class="panel-body">
				<%= simple_form_for(@template, html: {class: 'form-horizontal'}) do |f| %>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email Type</label>
					<div class="col-sm-10">
						<%= f.input :email_type_id, collection: EmailType.pluck(:name, :id), include_blank: false, label: false %>
					</div>
					<label class="col-sm-2 control-label">Subject*</label>
					<div class="col-sm-10">
						<%= f.input :subject, label: false, placeholder: "Write the subject here..."%>
					</div>
					<label class="col-sm-2 control-label">Body*</label>
					<div class="col-sm-10">
						<div class="form-group">
							<div id="summernote"><%= ::Template::DEFAULT_TEMPLATES[:order][:body].html_safe%></div>
						</div>
						<%= f.input :body, as: :hidden, label: false %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<%= f.button :submit, "Save" %>
						<%= link_to 'Cancel', templates_path, class: 'btn btn-default', method: :get %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div id="default-template-body-order" style="display: none;"><%= ::Template::DEFAULT_TEMPLATES[:order][:body].html_safe%></div>
<div id="default-template-body-shipment" style="display: none;"><%= ::Template::DEFAULT_TEMPLATES[:shipment][:body].html_safe%></div>
<script>
$(document).ready(function(){
  BigCommerce.Template.NewTemplate();
});
</script>