<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>

			<div id="hbreadcrumb" class="pull-right m-t-lg">
				<ol class="hbreadcrumb breadcrumb">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<span>Templates</span>
					</li>
					<li class="active">
						<span>Listing</span>
					</li>
				</ol>
			</div>
			<h2 class="font-light m-b-xs"> Templates </h2>
			<small>Available templates for the store.</small>
		</div>
	</div>
</div>

<div class="content animate-panel">

	<div class="row">
		<div class="col-lg-12">
			<div class="hpanel">
				<div class="panel-body">
					<%= link_to 'New Template', new_template_path, class: 'btn btn-success pull-right', method: :get %>
					<div class="clearfix"></div>
					<div class="table-responsive top5">
						<table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Event</th>
									<th>Event Type</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% unless @templates.empty? %>
									<% @templates.each_with_index do |template, index| %>
										<tr>
											<td><%= index + 1%></td>
											<td><%= template.name %></td>
											<td><%= template.event.name if template.event.present? %></td>
											<td><%= template.event_type.name if template.event_type.present? %></td>
											<td>
												<%= link_to template, method: :get, style: 'font-size: 25px;' do %>
												  <i class="pe-7s-look"></i>
												<% end %>
												<%= link_to toggle_active_path(template.id), method: :get, style: 'font-size: 25px;' do %>
													<% sym = template.active? ? "fa-check" : "fa-check disabled" %>
													<i class="fa <%= sym %>" ></i>
												<% end %>
											</td>
										</tr>
									<% end %>
								<% else %>
									<tr>
										<td colspan="4">No templates available. Please add.</td>
									</tr>
								<% end %>
							</tbody>
							<tfoot>
	              <tr>
	                  <td class="footable-visible" colspan="5">
	                     <div class="pull-right"><%= paginate @templates %></div>
	                  </td>
	              </tr>
              </tfoot>
						</table>
					</div>

				</div>
				<div class="panel-footer">
					Table - <%= @templates.count%> rows
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Right sidebar -->
<div id="right-sidebar" class="animated fadeInRight">

	<div class="p-m">
		<button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md">
			<i class="pe pe-7s-close"></i>
		</button>
		<div>
			<span class="font-bold no-margins"> Analytics </span>
			<br>
			<small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
		</div>
		<div class="row m-t-sm m-b-sm">
			<div class="col-lg-6">
				<h3 class="no-margins font-extra-bold text-success">300,102</h3>

				<div class="font-bold">
					98% <i class="fa fa-level-up text-success"></i>
				</div>
			</div>
			<div class="col-lg-6">
				<h3 class="no-margins font-extra-bold text-success">280,200</h3>

				<div class="font-bold">
					98% <i class="fa fa-level-up text-success"></i>
				</div>
			</div>
		</div>
		<div class="progress m-t-xs full progress-small">
			<div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"
			class=" progress-bar progress-bar-success">
				<span class="sr-only">35% Complete (success)</span>
			</div>
		</div>
	</div>
	<div class="p-m bg-light border-bottom border-top">
		<span class="font-bold no-margins"> Social talks </span>
		<br>
		<small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
		<div class="m-t-md">
			<div class="social-talk">
				<div class="media social-profile clearfix">
					<a class="pull-left"> <img src="/assets/a1.jpg" alt="profile-picture"> </a>

					<div class="media-body">
						<span class="font-bold">John Novak</span>
						<small class="text-muted">21.03.2015</small>
						<div class="social-content small">
							Injected humour, or randomised words which don't look even slightly believable.
						</div>
					</div>
				</div>
			</div>
			<div class="social-talk">
				<div class="media social-profile clearfix">
					<a class="pull-left"> <img src="/assets/a3.jpg" alt="profile-picture"> </a>

					<div class="media-body">
						<span class="font-bold">Mark Smith</span>
						<small class="text-muted">14.04.2015</small>
						<div class="social-content">
							Many desktop publishing packages and web page editors.
						</div>
					</div>
				</div>
			</div>
			<div class="social-talk">
				<div class="media social-profile clearfix">
					<a class="pull-left"> <img src="/assets/a4.jpg" alt="profile-picture"> </a>

					<div class="media-body">
						<span class="font-bold">Marica Morgan</span>
						<small class="text-muted">21.03.2015</small>

						<div class="social-content">
							There are many variations of passages of Lorem Ipsum available, but the majority have
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-m">
		<span class="font-bold no-margins"> Sales in last week </span>
		<div class="m-t-xs">
			<div class="row">
				<div class="col-xs-6">
					<small>Today</small>
					<h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
				</div>
				<div class="col-xs-6">
					<small>Last week</small>
					<h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<small>Today</small>
					<h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
				</div>
				<div class="col-xs-6">
					<small>Last week</small>
					<h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
				</div>
			</div>
		</div>
		<small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
			Many desktop publishing packages and web page editors. </small>
	</div>
