<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>My APP</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body class="fixed-navbar fixed-sidebar">
		<!-- Simple splash screen-->
		<div class="splash">
			<div class="color-line"></div>
			<div class="splash-title">
				<h1>My App</h1>
				<p>
					Demo App for Big Commerce
				</p>
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
		</div>
		<!--[if lt IE 7]>
		<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- Header -->
		<div id="header">
			<div class="color-line"></div>
			<div id="logo" class="light-version">
				<span> My APP </span>
			</div>
			<nav role="navigation">
				<div class="header-link hide-menu">
					<i class="fa fa-bars"></i>
				</div>
				<div class="small-logo">
					<span class="text-primary">My APP</span>
				</div>
			</nav>
		</div>
		<!-- Navigation -->
		<aside id="menu">
			<div id="navigation">
				<div class="profile-picture">
					<a href="#"> <img src="<%= session[:store_logo] %>" class="img-circle m-b custom-img-style" alt="logo"> </a>

					<div class="stats-label text-color">
						<span class="font-extra-bold font-uppercase" title="<%= current_store.username %>"><%= truncate(current_store.username, length: 20)%></span>
					</div>
				</div>

				<ul class="nav" id="side-menu">
					<%= active_link_to templates_path, method: :get, :wrap_tag => :li do %>
					<span class="nav-label">Templates</span>
					<% end %>
				</ul>
			</div>
		</aside>
		<!-- Main Wrapper -->
		<div id="wrapper">
			<%= yield %>
			<!-- Footer-->
			<footer class="footer">
				<span class="pull-right"> Example text </span>
				Company 2015-2020
			</footer>
		</div>
	</body>
</html>
